# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

In [1]:
import pandas as pd
import numpy as np

nba = pd.read_csv('./files/NBA All Stars 2000-2016 - Sheet1.csv')
nba

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

# What is the average weight of all players who played during this time?

In [39]:
# 228.75
nba_dups = nba.drop_duplicates(['Player'])
nba_dups['WT'].mean()

228.7560975609756

# What team is represented the most during this time?

In [40]:
# Miami Heat
nba.groupby('Team').count().sort_values('Year',ascending=False)[['Year']].head()

                    Year
Team
Miami Heat            28
Boston Celtics        26
San Antonio Spurs     25
Los Angeles Lakers    25
Houston Rockets       20

# What draft class is represeted the most during this time?

In [41]:
# 1996 Rnd 1 Pick 13
nba.groupby('NBA Draft Status').count().sort_values('Player',ascending=False)[['Player']].head()

                    Player
NBA Draft Status
1996 Rnd 1 Pick 13      16
2003 Rnd 1 Pick 1       13
1997 Rnd 1 Pick 1       13
1998 Rnd 1 Pick 9       13
1995 Rnd 1 Pick 5       12

# Are foriegn players more prevalent in the All-Star Game during this time?

In [53]:
#No, US players are more prevalent
def make_foriegn_group(nationality):
    if nationality == "United States":
        return "domestic"
    else:
        return "foriegn"
    
nba['foriegn_group'] = nba['Nationality'].apply(make_foriegn_group)
print(nba.groupby('foriegn_group').count()[['Player']])

nba_dups2 = nba.drop_duplicates(['Player'])
print(nba_dups2.groupby('foriegn_group').count()[['Player']])

               Player
foriegn_group
domestic          365
foriegn            74
               Player
foriegn_group
domestic          101
foriegn            22

# How often are the Western All-Stars voted in by fans?

In [30]:
# Every year
nba[nba['Selection Type']=='Western All-Star Fan Vote Selection'].groupby('Year').count()[['Player']]

      Player
Year
2000       5
2001       5
2002       5
2003       5
2004       5
2005       5
2006       5
2007       5
2008       5
2009       5
2010       5
2011       5
2012       5
2013       5
2014       5
2015       5
2016       5

# How many times does Steph Curry make the All-Star game during this time period?

In [45]:
#4
nba[nba['Player']=='Stephen Curry'][['Year']].reset_index(drop=True)

   Year
0  2016
1  2015
2  2014
3  2013

# How many Shooting Gaurds have made the All-Star game during this time?

In [49]:
# When we allow duplicated player: 57
# When we don't allow duplicated player and count only unique player:9
print(nba.groupby('Pos').count()[['Player']])
print(nba_dups.groupby('Pos').count()[['Player']])

     Player
Pos
C        50
F        45
F-C       3
FC       61
G        72
G-F       1
GF       22
PF       57
PG       36
SF       35
SG       57
     Player
Pos
C        20
F        15
F-C       1
FC       14
G        23
G-F       1
GF        8
PF       12
PG        9
SF       11
SG        9

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [59]:
# 12 Players have made when allow duplicated players
#  5 Players have made when only count unique players
print(nba[nba['Team']=='Chicago Bulls'].count()[['Player']])
print(nba_dups2[nba_dups2['Team']=='Chicago Bulls'].count()[['Player']])

Player    12
dtype: int64
Player    5
dtype: int64